.diy{
    color:#838583;
    color:hsl(108, 11%, 91%);
    color:#dd7f13;
    display:flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* justify-content: */
    /* background-color: transparent; */
display:
font-weight: 900;    color:linear-gradient( to right,green,blue)
    
justify-content: space-between;
}